.contImg {
    position: absolute;
}

.imgHome {
    width: 100%;
    height: 100%;
}

.contMenuHome {
    position: absolute;
    z-index: 2;
    margin-top: 10%;
    margin-left: 5%;
}

.contMenuHome nav ul li {
    list-style: none;
    margin-top: 50px; 
}

.linkHome{
  text-decoration: none;
  color: aliceblue;
  font-weight: 900; 
  font-size: 30px;
 
 
}