.contBtn {
    display: grid;
    position: absolute;
    width: 15%;
    margin-left: 80%;
}

.h1Disc {
    color: #b94c08;
    font-size: 60px;
    margin-right: 200px;
}

.btnDiscoS {
    height: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    border: none;
    background-color: rgb(187, 88, 7);
    background: linear-gradient(90deg, #9c461e 0%, #882d02 35%, #661f00 100%);
    cursor: pointer;
    border-radius: 15px;
    font-size: 10px;
    font-weight: 900;
}

.contAlbumSuper {
    width: 80%;
    display: grid;
    place-content: center;
}

.imgAlbum2 {
    width: 500px;
}

.imgAlbum {
    width: 500px;
    margin-right: 210px;
}

.contTextAlbum {
    color: aliceblue;
}

.pAlbum {
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

.h1DiscErr {
    color: antiquewhite;
}

.h4Disco {
    color: antiquewhite;
    margin-right: 210px;
}


/*----------media query-----------*/


@media only screen and (max-width: 600px) {
    .contDiscPrin {
        display: flex;
        flex-direction: column-reverse;
    }



    .contBtn {
        position: relative;
        margin-left: -10px;
        margin-right: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }

    .h1Disc {

        display: none;

    }

    .btnDiscoS {
        width: 280%;
        height: 45px;
        margin-top: auto;
        margin-bottom: auto;
        color: rgb(255, 255, 255);
        border: none;
        cursor: pointer;
        border-radius: 15px 5px 15px 1px;
        font-size: 13px;
        font-weight: 900;
        text-align: center;

    }

    .contAlbumSuper {
        width: auto;
        display: grid;
        place-content: center;

    }

    .imgAlbum2 {
        max-width: 100%;

    }

    .imgAlbum {
        max-width: 100%;
        margin-right: 0;
    }

    .contTextAlbum {
        color: aliceblue;
        font-size: larger;
    }

    .pAlbum {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        text-align: justify;

    }

    .h1DiscErr {
        color: antiquewhite;

    }

    .h4Disco {
        color: antiquewhite;
        margin-right: 0px;

    }
}