.pShow{
    text-align: justify;
    margin: 50px 180px;
    color: rgb(125, 194, 255);
}


.h1Show{
    color: rgb(125, 194, 255);
}
.imgLogoArt{
    margin-top: 40px;
    width: 250px;
    padding-left: 50px;
    padding-right: 50px;
}

.imagenesShow{
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
 grid-gap: 1em;
}

.img2{
   width: 100%;
   height: auto;
   margin-bottom: 100px;
   border-radius: 20px;
}

@keyframes rotacion{
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(11000deg);}
}

.contLoading{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.imgLoading{
    position: absolute;
    width: 150px;
    animation-name: rotacion;
    animation-duration: 30s;
}

