.contSearch {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.inputSearch {
    width: 500px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    border-radius: 8px;
}

.btnSearch {
    width: 100px;
    border-radius: 15px;
    margin-left: 10px;
    background-color: rgb(201, 94, 7);
    background: linear-gradient(90deg, #9c461e 0%, #882d02 35%, #661f00 100%);
    font-size: 20px;
}

.linkSearch {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: large;
    font-weight: 900;
}




/*----------media query-----------*/

@media only screen and (max-width: 600px) {
    .contSearch {
        display: grid;
    }

    .inputSearch {
        width: 300px;
        height: 50px;
        text-align: center;
        font-size: 20px;
        border-radius: 8px;
    }

    .btnSearch {
        width: 200px;
        height: 50px;
        border-radius: 15px;
        margin-left: 10px;
        font-size: 25px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
}