.contNavbar {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid rgb(13, 36, 25);
    background: rgb(6, 15, 8);
    background: linear-gradient(0deg, rgb(5, 57, 82) 49%, rgb(10, 67, 94) 92%);

}

.linkMenuHambur {
    text-decoration: none;
    color: rgb(201, 94, 7);
}

.ulNavbar {
    list-style: none
}

.contNavbar .liNavbar {
    display: inline;
    padding-right: 55px;
    font-size: larger;
    text-decoration: none;
    color: aliceblue;
}


.liNabvar1 {
    position: relative;
    z-index: 10;
}

.icoMenu {
    width: 50px;
    margin-top: 15px;
    margin-left: 5px;
    /* vertical-align: top; */
}

.icoMenu:hover {
    cursor: pointer;
    width: 45px;
    padding-right: 5px;
}

.contMenu {
    background-color: rgb(10, 67, 94);
    background: linear-gradient(90deg, rgb(5, 57, 82) 0%, rgb(25, 69, 90) 35%, rgb(3, 40, 58) 100%);
    box-shadow: 2px 0px 5px 2px rgb(70, 77, 94);
    border-radius: 0px 150px 380px 0px;
    width: 300px;
    height: 90vh;
    position: absolute;
    margin-top: 5px;
    left: 0px;
    transition: all .7s ease;
}


.active {
    transform: translate(-500px);
}

.opacity {
    background-color: rgb(6, 15, 8);
    transition: all .5s ease;
}


.h1Menu {
    color: rgb(15, 110, 110);
    margin-top: -30px;
}



.contMenu .ulMenu {
    padding: 100px 0px 20px 0px;
    list-style: none;
}

.contMenu .ulMenu .liMenu {
    color: rgb(201, 94, 7);
    display: block;
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    padding: 15px 3px;
    margin-right: 60px;
    cursor: pointer;
}

.contMenu .ulMenu .liMenu:hover {
    background-color: rgb(201, 94, 7);
    background: linear-gradient(90deg, rgb(245, 135, 45) 0%, rgb(201, 94, 7) 35%, rgb(77, 34, 0) 100%);
    color: rgb(6, 15, 8);
    border-radius: 10px 5px 30px 0;
}



/*----------media query-----------*/


@media only screen and (max-width: 600px) {
    .contNavbar {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid rgb(13, 36, 25);
        background: rgb(6, 15, 8);
        background: linear-gradient(0deg, rgb(5, 57, 82) 49%, rgb(10, 67, 94) 92%);
    
    }
    
    .linkMenuHambur {
        text-decoration: none;
        color: rgb(201, 94, 7);
    }
    
    .ulNavbar {
        list-style: none
    }
    
    .icoMenu:hover {
        cursor: pointer;
        width: 45px;
        padding-right: 5px;
    }
    
    .contMenu {
        background-color: rgb(10, 67, 94);
        background: linear-gradient(90deg, rgb(5, 57, 82) 0%, rgb(25, 69, 90) 35%, rgb(3, 40, 58) 100%);
        box-shadow: 2px 0px 5px 2px rgb(70, 77, 94);
        border-radius: 0px 50px 80px 0px;
        width: 280px;
        height: 100vh;
        position: absolute;
        margin-top: 11px;
        left: 0px;
        transition: all .7s ease;
    }
     
    .h1Menu {
        color: rgb(15, 110, 110);
        font-size: 25px;
        text-align: start;
        margin-left: 20px;
    }    

}