.contNavbar {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #161a1d;
    background: #bb3e03;
    background: linear-gradient(0deg, #141f2e 49%, #001219 92%);

}

.linkMenuHambur {
    text-decoration: none;
    color:#bb3e03;
}

.linkMenuHambur:hover {
    text-decoration: none;
    color:#000000;
}

.ulNavbar {
    list-style: none
}

.contNavbar .liNavbar {
    display: inline;
    padding-right: 55px;
    font-size: larger;
    font-weight: 900;
    text-decoration: none;
    color: #bb3e03
}


.liNabvar1 {
    position: relative;
    z-index: 10;
}

.icoMenu {
    width: 50px;
    margin-top: 15px;
    margin-left: 5px;
    /* vertical-align: top; */
}

.icoMenu:hover {
    cursor: pointer;
    width: 45px;
    padding-right: 5px;
}

.contMenu {
    background-color: #bb3e03;
    background: linear-gradient(90deg, #0d141d 0%, #121d2c 35%, #000000 100%);
    box-shadow: 0px 0px 20px 1px #e85d04;
    border-radius: 0px 100px 180px 0px;
    width: 300px;
    height: 90vh;
    position: absolute;
    margin-top: 5px;
    left: 0px;
    transition: all .7s ease;
}


.active {
    transform: translate(-500px);
}

.opacity {
    background-color: rgb(6, 15, 8);
    transition: all .5s ease;
}


.h1Menu {
    color: #a13401;
    text-shadow: 1px 1px 5px #e9caa6;
    margin-top: -30px;
}



.contMenu .ulMenu {
    padding: 100px 0px 20px 0px;
    list-style: none;
}

.contMenu .ulMenu .liMenu {
    color: rgb(201, 94, 7);
    display: block;
    font-size: 25px;
    font-weight: 900;
    text-decoration: none;
    padding: 15px 3px;
    margin-right: 60px;
    cursor: pointer;
}

.contMenu .ulMenu .liMenu:hover {
    background-color: rgb(201, 94, 7);
    background: linear-gradient(90deg, #e6662b 0%, #bb3e03 35%, #6d2301 100%);
    color: rgb(6, 15, 8);
    border-radius: 10px 5px 30px 0;
}



/*----------media query-----------*/


@media only screen and (max-width: 600px) {
    .contNavbar {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid rgb(13, 36, 25);
    }
    
    .linkMenuHambur {
        text-decoration: none;
        color: rgb(201, 94, 7);
    }
    
    .ulNavbar {
        list-style: none
    }
    
    .icoMenu:hover {
        cursor: pointer;
        width: 45px;
        padding-right: 5px;
    }
    
    .contMenu {
        border-radius: 0px 50px 80px 0px;
        width: 280px;
        height: 100vh;
        position: absolute;
        margin-top: 11px;
        left: 0px;
        transition: all .7s ease;
    }
     
    .h1Menu {
        font-size: 25px;
        text-align: start;
        margin-left: 20px;
    }    

}